// Define variables for your color scheme

// For example:
$red: #C54D49;
$blue: #33ACEE;
$yellow: #F7EC58;
$orange: #E67E22;
$light-orange: #EEA033;
$green: #5BB85D;
$gray: #CECECE;
$black: #111111;
$light-gray: #F4F4F4;
$dark-gray: #4a4a48;

