// Define variables for your color scheme

// For example:
$red: #C54D49;
$blue: #33ACEE;
$yellow: #F7EC58;
$orange: #E67E22;
$light-orange: #EEA033;
$green: #5BB85D;
$light-green: #b0ddb1;
$gray: #CECECE;
$black: #111111;
$light-gray: #F4F4F4;
$dark-gray: #4a4a48;
$special-yellow: #f8b500;
$special-red: #db2d43;
$special-brown: #373331;
$facebook-blue: #4e67a5;
$whatsup-green: #77c96e;
$skype-blue: #4caeea;

