// Specific CSS for your home-page
.blk-background {
  background: black !important;
  color: whitesmoke;
}

.body {
  background-color: black;
}

.main-header {
  text-align: center;
}

.event-list {
  text-align:center;
  text-decoration: none;
}

ul.event-list {
  text-decoration: none;
  list-style: none;
}

.home-container {
  margin: 0px 40px;
}

// .list-inline {
//   text-align:center;
// }

// .list-inline li {
//   display:inline-block;margin:5px;
// }
