
.marker1 {
  z-index: 100;
  position: absolute;
  top: 250px;
  left: 180px;
  animation: bounce 1.8s infinite;
}

.marker2 {
  z-index: 100;
  position: absolute;
  top: 450px;
  left: 680px;
  animation: bounce 2.2s infinite;
}

.marker3 {
  z-index: 100;
  position: absolute;
  top: 450px;
  right: 200px;
  animation: bounce 2s infinite;
}

.marker4 {
  z-index: 100;
  position: absolute;
  top: 180px;
  left: 200px;
  animation: bounce 2.2s infinite;
}

.down-icon {
  font-size: 22px;
  margin-top: 130px;
}

.text-white {
  font-size: 62px;
  padding-top: 150px;
  letter-spacing: 6px;
  color: #010103;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-1px);
  }
}


.pulse {
  z-index: -1;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bc0d0d;
    border-radius: 50px;
    opacity: 0;
  }

  &:before {
    transform: scale(1);
    animation: pulse 3s infinite linear;

  }

  &:after {
    animation: pulse 3s 2s infinite linear;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.disaster-button {
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  border: 2px solid rgba(188, 13, 13,1);
  color:white;
  border-radius: 1px;
  padding: 10px 50px;
  background-color: rgba(188, 13, 13,0.8);
  transition: 0.4s ease;
  &:hover {
    background-color: rgba(188, 13, 13,1);
  }
}

.helping-list {
  background-color: rgba(69, 102, 158,0.5);
  padding: 20px 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60vh;
}

.text {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    margin-top: 20px;
    font-size: 42px;
  }
  .helping-element {
    p {
      font-weight: lighter;
      font-size: 16px;
    }
    margin: 0 50px;
    .header {
      font-size: 38px;
    }
  }
}

.learn-more-button {
  transition: 0.2s ease;
  background-color: white;
  padding: 10px 0px;
  font-size: 16px;
  border: 1px solid white;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  color: #274472;
  cursor: pointer;
  &:hover {
    background-color: #274472;
    border: 1px solid #274472;
    color: white;
  }
}

// body
// {
//     background: #cfd8dc;
// }

// .card-container
// {
//     font-family: 'Quando', sans serif;
//     font-size: 40px;
//     font-weight: bold;

//     width: 400px;
//     height: 200px;
//     margin: 80px auto;

//     border-radius: 10px;

//     perspective: 1400px;
// }

// .card
// {
//     position: relative;

//     height: 100%;

//     border-radius: 10px;

//     widht: 100%;
//     transform-style: preserve-3d;
// }

// .front,
// .back
// {
//     display: flex;

//     width: 100%;
//     height: 100%;

//     border-radius: 10px;

//     justify-content: center;
//     align-items: center;
//     backface-visibility: hidden;
// }

// .front
// {
//     color: #fff;
//     background: #6b1c17;
// }

// .back
// {
//     position: absolute;
//     top: 0;
//     left: 0;

//     transform: rotateY(180deg);

//     color: #red;
//     background: #fff;
//     font-size: 20px;
// }



article.card {
  width: 350px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;

}
article.card .thumb {
  width: auto;
  height: 260px;
  // background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png") no-repeat center;
  background-size: cover;
  border-radius: 3px;
}
article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}
article.card .infos .flag {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

}
article.card .infos .date, article.card .infos .seats {
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}
article.card .infos .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 22px;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: rgba(188, 13, 13,1);
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .infos {
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
}
article.card:hover .infos .seats, article.card:hover .infos .txt, article.card:hover .infos .details {
  opacity: 1;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.first-about {
  display: flex;
  width: 100%;
  height: 60vh;
  .about-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .about-text {
    color: #010103;
    font-size: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    .three {
      color: rgba(188, 13, 13,1);
    }
    span {
      color: #010103;
    }
  }
}

.second-about {
  display: flex;
  width: 100%;
  height: 60vh;
  .about-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .about-text {
    font-size: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #010103;
    .three {
      color: rgba(188, 13, 13,1);
    }
    span {
      color: white;
    }
  }
}

.banner-wrapper {
  padding: 20px 30px;
  padding-bottom: 0px;
}

.disaster-event-header {
  color: #010103;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 42px;
  span {
    color: rgba(188, 13, 13,1);
  }
}

hr {
  width: 25%;
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid rgba(188, 13, 13,1);
  margin: 1em 0;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}

.footer {
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background-color: #960d12;
  .this-is-flex {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      transition: 0.2s ease;
      cursor: pointer;
      margin: 0 20px;
      font-size: 38px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}

#dark_wrap {
  background-color: #515151;
  padding-bottom: 50px;
}
#light_wrap {
  background-color: lightgrey;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
}


// body {
//   background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   font-family: 'Barlow', sans-serif;
// }
// .container {
//   width: 100%;
//   position: relative;
//   overflow: hidden;
// }
// a {
//   text-decoration: none;
// }
// h1.main, p.demos {
//   -webkit-animation-delay: 18s;
//   -moz-animation-delay: 18s;
//   -ms-animation-delay: 18s;
//   animation-delay: 18s;
// }
// .sp-container {
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   z-index: 0;
//   background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
//   background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
//   background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
//   background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
// }
// .sp-content {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0px;
//   top: 0px;
//   z-index: 1000;
// }
// .sp-container h2 {
//   position: absolute;
//   top: 50%;
//   line-height: 100px;
//   height: 90px;
//   margin-top: -50px;
//   font-size: 90px;
//   width: 100%;
//   text-align: center;
//   color: transparent;
//   -webkit-animation: blurFadeInOut 3s ease-in backwards;
//   -moz-animation: blurFadeInOut 3s ease-in backwards;
//   -ms-animation: blurFadeInOut 3s ease-in backwards;
//   animation: blurFadeInOut 3s ease-in backwards;
// }
// .sp-container h2.frame-1 {
//   -webkit-animation-delay: 0s;
//   -moz-animation-delay: 0s;
//   -ms-animation-delay: 0s;
//   animation-delay: 0s;
// }
// .sp-container h2.frame-2 {
//   -webkit-animation-delay: 3s;
//   -moz-animation-delay: 3s;
//   -ms-animation-delay: 3s;
//   animation-delay: 3s;
// }
// .sp-container h2.frame-3 {
//   -webkit-animation-delay: 6s;
//   -moz-animation-delay: 6s;
//   -ms-animation-delay: 6s;
//   animation-delay: 6s;
// }
// .sp-container h2.frame-4 {
//   font-size: 200px;
//   -webkit-animation-delay: 9s;
//   -moz-animation-delay: 9s;
//   -ms-animation-delay: 9s;
//   animation-delay: 9s;
// }
// .sp-container h2.frame-5 {
//   -webkit-animation: none;
//   -moz-animation: none;
//   -ms-animation: none;
//   animation: none;
//   color: transparent;
//   text-shadow: 0px 0px 1px #fff;
// }
// .sp-container h2.frame-5 span {
//   -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
//   -moz-animation: blurFadeIn 1s ease-in 12s backwards;
//   -ms-animation: blurFadeIn 3s ease-in 12s backwards;
//   animation: blurFadeIn 3s ease-in 12s backwards;
//   color: transparent;
//   text-shadow: 0px 0px 1px #fff;
// }
// .sp-container h2.frame-5 span:nth-child(2) {
//   -webkit-animation-delay: 13s;
//   -moz-animation-delay: 13s;
//   -ms-animation-delay: 13s;
//   animation-delay: 13s;
// }
// .sp-container h2.frame-5 span:nth-child(3) {
//   -webkit-animation-delay: 14s;
//   -moz-animation-delay: 14s;
//   -ms-animation-delay: 14s;
//   animation-delay: 14s;
// }
// .sp-globe {
//   position: absolute;
//   width: 282px;
//   height: 273px;
//   left: 50%;
//   top: 50%;
//   margin: -137px 0 0 -141px;
//   background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
//   -webkit-animation: fadeInBack 3.6s linear 14s backwards;
//   -moz-animation: fadeInBack 3.6s linear 14s backwards;
//   -ms-animation: fadeInBack 3.6s linear 14s backwards;
//   animation: fadeInBack 3.6s linear 14s backwards;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
//   filter: alpha(opacity=30);
//   opacity: 0.3;
//   -webkit-transform: scale(5);
//   -moz-transform: scale(5);
//   -o-transform: scale(5);
//   -ms-transform: scale(5);
//   transform: scale(5);
// }
// .sp-circle-link {
//   position: absolute;
//   left: 50%;
//   bottom: 100px;
//   margin-left: -50px;
//   text-align: center;
//   line-height: 100px;
//   width: 100px;
//   height: 100px;
//   background: #fff;
//   color: #3f1616;
//   font-size: 25px;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   -webkit-animation: fadeInRotate 1s linear 16s backwards;
//   -moz-animation: fadeInRotate 1s linear 16s backwards;
//   -ms-animation: fadeInRotate 1s linear 16s backwards;
//   animation: fadeInRotate 1s linear 16s backwards;
//   -webkit-transform: scale(1) rotate(0deg);
//   -moz-transform: scale(1) rotate(0deg);
//   -o-transform: scale(1) rotate(0deg);
//   -ms-transform: scale(1) rotate(0deg);
//   transform: scale(1) rotate(0deg);
// }
// .sp-circle-link:hover {
//   background: #85373b;
//   color: #fff;
// }
// /**/

// @-webkit-keyframes blurFadeInOut {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     -webkit-transform: scale(1.3);
//   }
//   20%, 75% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     -webkit-transform: scale(1);
//   }
//   100% {
//     opacity: 0;
//     text-shadow: 0px 0px 50px #fff;
//     -webkit-transform: scale(0);
//   }
// }
// @-webkit-keyframes blurFadeIn {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     -webkit-transform: scale(1.3);
//   }
//   50% {
//     opacity: 0.5;
//     text-shadow: 0px 0px 10px #fff;
//     -webkit-transform: scale(1.1);
//   }
//   100% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     -webkit-transform: scale(1);
//   }
// }
// @-webkit-keyframes fadeInBack {
//   0% {
//     opacity: 0;
//     -webkit-transform: scale(0);
//   }
//   50% {
//     opacity: 0.4;
//     -webkit-transform: scale(2);
//   }
//   100% {
//     opacity: 0.2;
//     -webkit-transform: scale(5);
//   }
// }
// @-webkit-keyframes fadeInRotate {
//   0% {
//     opacity: 0;
//     -webkit-transform: scale(0) rotate(360deg);
//   }
//   100% {
//     opacity: 1;
//     -webkit-transform: scale(1) rotate(0deg);
//   }
// }
// /**/

// @-moz-keyframes blurFadeInOut {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     -moz-transform: scale(1.3);
//   }
//   20%, 75% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     -moz-transform: scale(1);
//   }
//   100% {
//     opacity: 0;
//     text-shadow: 0px 0px 50px #fff;
//     -moz-transform: scale(0);
//   }
// }
// @-moz-keyframes blurFadeIn {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     -moz-transform: scale(1.3);
//   }
//   100% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     -moz-transform: scale(1);
//   }
// }
// @-moz-keyframes fadeInBack {
//   0% {
//     opacity: 0;
//     -moz-transform: scale(0);
//   }
//   50% {
//     opacity: 0.4;
//     -moz-transform: scale(2);
//   }
//   100% {
//     opacity: 0.2;
//     -moz-transform: scale(5);
//   }
// }
// @-moz-keyframes fadeInRotate {
//   0% {
//     opacity: 0;
//     -moz-transform: scale(0) rotate(360deg);
//   }
//   100% {
//     opacity: 1;
//     -moz-transform: scale(1) rotate(0deg);
//   }
// }
// /**/

// @keyframes blurFadeInOut {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     transform: scale(1.3);
//   }
//   20%, 75% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     transform: scale(1);
//   }
//   100% {
//     opacity: 0;
//     text-shadow: 0px 0px 50px #fff;
//     transform: scale(0);
//   }
// }
// @keyframes blurFadeIn {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 40px #fff;
//     transform: scale(1.3);
//   }
//   50% {
//     opacity: 0.5;
//     text-shadow: 0px 0px 10px #fff;
//     transform: scale(1.1);
//   }
//   100% {
//     opacity: 1;
//     text-shadow: 0px 0px 1px #fff;
//     transform: scale(1);
//   }
// }
// @keyframes fadeInBack {
//   0% {
//     opacity: 0;
//     transform: scale(0);
//   }
//   50% {
//     opacity: 0.4;
//     transform: scale(2);
//   }
//   100% {
//     opacity: 0.2;
//     transform: scale(5);
//   }
// }
// @keyframes fadeInRotate {
//   0% {
//     opacity: 0;
//     transform: scale(0) rotate(360deg);
//   }
//   100% {
//     opacity: 1;
//     transform: scale(1) rotate(0deg);
//   }
// }
