// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
// }



.grid {
  display: grid;
  margin-left: 0px;
  margin-right: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  padding-top: 10px;

}


.card {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

#map {
  border: 2px solid rgba(220,220,220,1);
  border-radius: 2px;
  grid-row: 1 / span 4;
  grid-column: 1 / span 2;
}





