<div class="banner" style="background-image: url(<%= asset_path "volunteer1_pic.jpg" %>);">
  <div class="banner-content">
    <h1>Helping Hands</h1>
    <h3>Bringing Order to Disaster</h3>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>


    <!-- search form -->
    <%= render "shared/search_big" %>
  </div>
</div>
