<nav class="top-navb">
  <%= link_to root_path do  %>
    <div class="logo">
      <%= image_tag "handshake_lg_icon.png", id: "logo"  %>
    </div>
  <% end %>

  <div class="main_list">
    <% if user_signed_in? %>
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <% else %>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    <% end %>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>


<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.top-navb').addClass('affix');
            console.log("OK");
        } else {
            $('.top-navb').removeClass('affix');
        }
    });
</script>

