<!-- <div class="filler one"></div>
<div>

  <nav id="navbar">

      <%#= image_tag "logo.png", id: "logo"  %>

    <ul>
      <li></li>
      <li></li>
      <li><a href="#">Dashboard</a></li>
    </ul>
  </nav>
</div> -->
<!-- <div class="filler two"></div> -->



<nav class="top-navb">
  <%= link_to root_path do  %>
    <div class="logo">
      <%= image_tag "https://i.imgur.com/ueQ0I8Y.png", id: "logo"  %>
    </div>
  <% end %>
  <div class="main_list">
    <a href="#">Dashboard</a>
  </div>
</nav>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>


<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.top-navb').addClass('affix');
            console.log("OK");
        } else {
            $('.top-navb').removeClass('affix');
        }
    });
</script>

