

    <div class="grid">


      <div
        id="map"
        style="width: 900px;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

      <div class="count"> <%= render 'shared/dashboard_display_number' %>  </div>
      <div class="card"> <%= render 'shared/list_card' %> </div>
    </div>
  </div>


