<div class="buttons" style="text-align:center;">
  <%= render 'shared/dashboard_display_number_tasks' %>
</div>

<div class="wrapper">
    <h3 style="margin-left: 71px; color: rgba(20,20,20,1);">Flood in Copenhagen. Nearby <span style="color: #33ACEE">Tasks</span>:</h3>
    <div class="grid">
  <div
    id="map"
    style="width: 835px;
    height: 500px; margin-left: 71px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

<div class="card"> <%= render 'shared/dashboard_list_card' %> </div>


</div>


</div>



