
<div class="volunteer-profile-card">
  <div class="volunteer-profile-upper" style="background: url(<%= asset_path 'taxi_cphflood.jpg' %>);">
    <div class="volunteer-profile-avatar">
    </div>
  </div>
    <h1>Volunteer name</h1>
    <h5>Administration</h5>
  <div class="volunteer-profile-details">
    &nbsp;<i class="fas fa-envelope-open"></i>jerrel@gmail.com <br>
    <i class="fas fa-mobile-alt phone-icon"></i> 45 3322111
  </div>
   <div class="list-inline volunteer-profile-social">
    <i class="fab fa-whatsapp-square whatsup-color"></i>
    <i class="fab fa-skype skype-color"></i>
    <i class="fab fa-facebook-square facebook-color"></i>
  </div>
</div>
