.banner img {
  width: 100%;
  object-fit: cover;
}

.banner-wrapper h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Quando';
  color: #111111;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
  text-shadow: 10px 10px 19px -6px rgba(214,219,227,1);
}
