.dashboard-display {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  position: relative;
  height: 100px;
  width: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 5px 5px 5px rbga(240,240,240,1);
}

.dashboard-display-icon {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 50px;
  color: white;
  opacity: 0.7;
}

.dashboard-display-header {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 15px;
  right: 40px;
  font-family: 'Raleway', sans-serif;
  opacity: 0.7;
}

.dashboard-display-number {
  position: absolute;
  font-size: 30px;
  color: white;
  right: 40px;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.green {
  transition: 0.2s ease;
  background-color: $green;
  &:hover {
    background-color: #1baa1b;
  }
}

.orange {
  transition: 0.2s ease;
  background-color: $orange;
  &:hover {
    background-color: #e5951d;
  }
}

.blue {
  transition: 0.2s ease;
  background-color: $blue;
  &:hover {
    background-color: #227cad;
  }
}

.red {
  transition: 0.2s ease;
  background-color: $red;
  &:hover {
    background-color: #a51d1d;
  }
}

.active {
  opacity: 0.5;
}
