.dashboard-number-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 165px;
  border-radius: 9px;
  opacity: 0.9;
  box-shadow: 10px 10px 13px -10px rgba(153,150,153,1);
  border: 2px solid $green;
  padding: 10px 15px;
  margin: 10px 10px 10px 10px;
  color: $green;
  font-size: 25px;
  font-weight: lighter;
  background-color: $light-green;

  p {
    font-size: 15px;
    color: white;
    padding: 0;
    margin: 0;
  }
}

.dashboard-number-card-label {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-weight:lighter;

}
