$nav-height: 3em;
// $nav-color: red;
// $nav-background: #111111;



}

#logo {
  height: 50px;
  vertical-align: middle;
}


nav {
  width: 100%;
  color: red;
  background: #111111;

  font-weight: bold;
  letter-spacing: 0.025em;
}

nav ul {
  text-align: center;
  text-align: right;
  margin: 0;
  font-size: 20px;
  height: 60px;
}

nav ul li {

  color: red;
  text-align: justify;
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
}

nav ul li a {
  font-family: $headers-font;
  color: #F4F4F4;
}


nav ul li a:hover {
  text-decoration: none;
  color: #C54D49;
  // background: #00939C;
}


/*----------------------
  $BODY
  ----------------------*/

body {
  background: #0B6AD4;
}

/*----------------------
  $MISC
  ----------------------*/

.filler {
  width: 1px;
  // height: 200px;
}

.two {
  height: 3000px;
}
