#logo {
  height: 70px;
  margin-left: 10px;
  margin-top: -4px;
}



nav.top-navb {
  border-top: 4px solid rgba(255,255,255,0);
  transition: 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;

  width: 100%;
  background-color: rgba(255,255,255,1);
  z-index: 100000;
  font-weight: bold;
  letter-spacing: 0.025em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

nav .main_list ul li {
  display: inline-block;
  text-align: center;
}

nav .main_list a {

  font-weight: lighter;
  margin-right: 30px;
  padding-bottom: 4px;
  transition: 0.2s ease;
  font-size: 16px;
  text-decoration: none;
  color: grey;

}


nav .main_list a:hover {
  color: #C54D49;
  // background: #00939C;
}

nav.top-navb.affix {
  border-top: 4px solid #C54D49;
  background: white;
  a {
    color: grey;
  }
  a:hover {
    color: #C54D49;
  }
}

