.volunteer-profile-card {
  background-color: white;
  height: 420px;
  width: 300px;
  position: absolute;
  margin-top: 150px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  border-radius:10px;
  // box-shadow: 5px 5px 15px 10px #e2e4e6;
  font-family: 'Lora', serif;


    h1 {
      color: black;
      text-align: center;
      position: relative;
      top: 30px;
      font-size: 35px;
    }

    h5 {
      text-align: center;
      position: relative;
      top: 15px;
      color: black;
      line-height: 1.6;

    }
}

.volunteer-profile-upper {
  height: 150px;
  width:300px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  background-position: center;
  background-size: cover !important;
  border-radius: 10px 10px 0px 0px;
}
.volunteer-profile-avatar {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: relative;
  top: 160px;
  left: 105px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);




  i {
    text-align: center;
    font-size: 40px;
    margin-left:20px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

  }

}
.volunteer-profile-details {
  position: relative;
  top: 8px;
  font-size: 18px;
  color: gray;
  background-color: white;
  line-height: 1.6;

  i {
    color: #404040;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 8px;
  }
}
.volunteer-profile-social {
  font-size: 25px;
  position: relative;
  top: 30px;
  left: 65px;
  cursor: pointer;

  i {
    margin-left: 22px;


    &::hover {
      opacity: 0.6;
    }

  }
}
.facebook-color {
  color: $facebook-blue;
}

.whatsup-color {
  color: $whatsup-green;
}

.skype-color {
  color: $skype-blue;
}

.phone-icon {
  padding-left: 8px;
}

.modal-content-profile {
  font-family: $font-family-modal;
  font-size: 14px;
  color: black;
  background-color: transparent;
  height: 450px;
  margin-top: 70px;
}
